body{
    background: rgb(46, 193, 238);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: left;
}

section{
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}

button {
    background-color: #2050f0;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

input, select {
    font-size: 16px;    
    height: 25px;
}

thead{
    background-color: rgb(173, 173, 173);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(116, 116, 116);
    background-color: rgb(211, 252, 253);
}


td{
    text-align: center;
}

caption {
    background-color: rgb(116, 116, 116);
    color: white;
    font-size: 30px;
    
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}